*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --primary-color:#23A6F0;
    --text-color:#252B42;
    --second-text-color:#737373;
    --light-text-color:#FFFFFF;
    --disabled-color:#8EC2F2;
    --muted-color:#BDBDBD;
    --success-color:#2DC071;
    --light-gray:#FAFAFA;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.flex-container{
display: flex;
flex-wrap: wrap;
}
.container{
    width: 70%;
    margin: 0 auto;
    max-width: 1440px;
}
/***** navbar  *****/
.navbar .flex-container {
    align-items: center;
}
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
    padding: 10px 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__logo a{
    text-transform: capitalize;
    color: var(--light-text-color);
    font-size: 24px;
}
.navbar__list{
    display: flex;
    margin-left: 9%;
    align-items: center;
}
.navbar__action{
    margin-left: auto;
}
.navbar__action button{
    padding:20px 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: var(--light-text-color);
    text-transform: capitalize;
    background-color: var(--primary-color);
    font-weight: 600;

}
.navbar__action svg{
    margin-left: 7px;
}
.navbar__list-item{
    margin-right: auto;
    padding: 0 15px;
}
.navbar__list-item a{
    padding: 5px 10px;
    color: var(--light-text-color);
    text-transform: capitalize;
    font-weight: 600;
}
/***** End navbar *****/
/***** hero *****/
.hero{
    position: relative;
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)     
    ),url(../assets/images/hero-cover.5.png);;
    background-repeat: no-repeat;
    background-size: cover;
}
/***** End hero *****/
/***** newsletter *****/
.newsletter{
    background: var(--text-color);
    min-height: 24vh;
    display: flex;
    padding: 50px 0;
}
.newsletter .flex-container{
    align-items: center;
    justify-content: space-between;
}
.newsletter__header{
    width: 49%;
}
.newsletter__desc{
    color: var(--light-text-color);
}
.newsletter__subscribe{
    width: 39%;
}
.btn{
    color: var(--light-text-color);
    background: var(--primary-color) !important;
    text-transform: capitalize;
    font-weight: 700;
    border: 0;
}

#subscribe {
    position: relative;
    height: 58px;
    width: 386px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    padding: 15px;
}
.newsletter__submit{
    position: absolute;
    bottom: -136px;
    right: 26rem;
    width: 117px;
    height: 58px;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    z-index: 2;
}
.section__title{
    color: var(--text-color);
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 27px;
}
.newsletter__title{
    color: var(--light-text-color);
}
/***** End newsletter *****/
@media screen and (max-width: 1200px) and (min-width:577px){
    .newsletter{
        flex-direction: column;
    }
    .newsletter .flex-container{
        flex-direction: column;
    }
    .newsletter__header{
        width: 100%;
    }
    .newsletter__subscribe{
        width: 100%;
    }
    .newsletter__desc.section__desc {
        padding: 15px 0;
    }
    #subscribe{
        width: 100%;
    }
}

    @media screen and (max-width:576px) {
        .container{
            width: 90%;
        }

    }